@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url("https://cdn.tutsplus.com/mobile/uploads/legacy/Corona-SDK_Build-A-Snake-Game/1/6.png");
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1#countdown {
  color: red;
  font-size: 100px;
  font-weight: 500;
  position: absolute;
  top: 30%;
  left: 47%;
}

#highScore {
  font-family: "Kanit", sans-serif;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 40px;
  font-weight: 800;
}

#ScoreBox {
  font-family: "Hind Siliguri", sans-serif;
  position: absolute;
  top: 15px;
  right: 65px;
  font-size: 40px;
  font-weight: 800;
}

#board {
  background: linear-gradient(#a4dba4, #d5d5b4);
  height: 90vmin;
  width: 90vmin;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.head {
  background: linear-gradient(black, purple);
  border: 0.25vmin solid white;
  border-radius: 7px;
  transform: scale(1.02);
}

.snakeBody {
  background: linear-gradient(purple, black);
  border: 0.25vmin solid black;
  border-radius: 9px;
}

.food {
  background: linear-gradient(red, rgb(222, 18, 18));
  border: 0.25vmin solid white;
  border-radius: 10px;
}
